@model vente_en_ligne.Models.Problem

@{
    ViewData["Title"] = "Create";
    int utilisateurId = ViewBag.UtilisateurId;

}

<link type="text/css" rel="stylesheet" href="/css/CreateU.css" />
<div class="login-box">
    <h2 style="color:#D41818;font-family: 'Berlin Sans FB';">Give your opinion</h2>

    <form asp-action="Create" method="post">
        <div class="user-box">

            <input asp-for="IDU" class="form-control" value="@utilisateurId" />

            <label style="color:white;font-family: 'Berlin Sans FB';"> Add your opinion</label>
            <br>
            <br>
            <input asp-for="Comment" class="form-control" required />

            <div class="align">
            </div>

            <button style="background:#D41818; color:white;font-family: 'Berlin Sans FB';margin-left:140px; margin-bottom:20px;">
                <a style="color:white ;">Submit</a>
            </button>
        </div>
    </form>

</div>