body {
    margin: 0px;
    padding: 0px;
    background-color: #fef1df;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

form .corps-formulaire .droite {
    margin-left: 50px; /* Augmentez la marge gauche selon vos besoins */
}
form {
    max-width: 600px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 30px;
    background: linear-gradient(-45deg, #001f3f 20%, #001f3f 100%);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border: 2px solid red;
    color:azure;
}
.corps-formulaire {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.groupe .details-input {
    height:100px;/* Ajustez la largeur selon vos besoins */
    padding: 10px 5px 10px 30px;
    border: 1px solid red;
    outline-color: #747cdf;
    background-color: #001f3f;
    border-radius: 5px;
    color: white;
}

.groupe {
    position: relative;
    margin-top: 3px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

    .groupe input {
        margin-top: 5px;
        padding: 10px 5px 10px 35px;
        border: 1px solid red;
        outline-color: #747cdf;
        background-color: #001f3f;
        border-radius: 5px;
        color: white;
    }

    .groupe i {
        position: absolute;
        left: 0;
        top: 25px;
        padding-left: 7px;
        padding-right: 20px;
        padding-top: 10px;
        margin-top: 7px;
        color: #747cdf;
    }

    .groupe textarea {
        margin-top: 5px;
        padding: 10px;
        background-color: #f1f1f1;
        border: 2px solid #747cdf;
        outline: none;
        border-radius: 5px;
        resize: none;
        height: 50%;
    }
form .corps-formulaire .groupe select {
    margin-top: 5px;
    padding: 10px;
    background-color: #001f3f; /* Same background color as inputs */
    border: 1px solid red; /* Same border color and style as inputs */
    outline-color: #747cdf;
    border-radius: 5px;
    color: white; /* Text color */
}
.#button {
    padding: 10px;
    text-align: center;
    padding-bottom: 10px;
}

[type="submit"] {
    font-family: 'Berlin Sans FB';
    width: 150px;
    height: 40px;
    background: #E31B15;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 17px;
    font-weight: 200;
    transition: all 0.3s;
    margin-top: -4px;
    margin-left: 16px;
    margin-bottom: 10px;
}

    [type="submit"]:hover {
        background: #CC4949;
    }
.droite {
    margin-left: 10px;
    width: calc(50% - 10px); /* Ajustez la largeur de la colonne de droite */
}

.choose-button {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.image-preview {
    max-width: 100%;
    max-height: 200px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    height: 150px;
    width: 100%; /* Ajustez la largeur de l'image prévisualisée */
}

.pied-formulaire button {
    margin-top: 10px;
    background-color: #747cdf;
    color: white;
    font-size: 15px;
    font-family: 'Berlin Sans FB';
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
}

    .pied-formulaire button:hover {
        transform: scale(1.05);
    }

@media screen and (max-width: 920px) {
    .droite {
        margin-left: 0px;
    }
}
