@model vente_en_ligne.Models.Produit

<link rel="stylesheet" href="/css/stylePr.css" />
<script src="~/js/createproduct.js"></script>
<form asp-action="Create" method="post" enctype="multipart/form-data" style="background-color: #001f3f;">
    <div class="corps-formulaire">
        <div class="gauche">
            <div class="groupe">
                <label>Owner ID</label>
                <input type="text" asp-for="IDP" />
                <i class="fas fa-user fa-lg me-2" style="color: red;"></i>
            </div>

            <div class="groupe">
                <label>Product's Name</label>
                <input type="text" asp-for="Name" autocomplete="off" />
                <i class="fas fa-shopping-bag fa-lg me-2" style="color: red;"></i>
            </div>

            <div class="groupe">
                <label>Give the price</label>
                <input type="text" asp-for="prix" name="Prix" autocomplete="off" />
                <i class="fas fa-dollar-sign fa-lg me-2" style="color: red;"></i>
            </div>
            <div class="groupe">
                <label>Category</label>
                <select asp-for="IDC" asp-items="@(ViewData["CategoriesList"] as List<SelectListItem>)" style="width: 100%;">
                    <option value="" selected disabled>Select a category</option>
                </select>
                <span asp-validation-for="IDC" class="text-danger"></span>
            </div>
            <div class="groupe">
                <label><i class="fas fa-info-circle" style="color:red;"></i>Add some Details</label>
                <input type="text" asp-for="Description" style="width: 100%;" />
            </div>

        </div>

        <div class="droite">
            <div class="groupe">
                <label>The date of launch</label>
                <input type="date" asp-for="DateDepot" autocomplete="off" />
                <i class="fas fa-calendar-alt fa-lg me-2" style="color: red;"></i>
            </div>
            <div class="groupe">
                <label>The quantity offered</label>
                <input type="text" asp-for="stock" aspname="Stock" autocomplete="off" />
                <i class="fas fa-cubes fa-lg me-2" style="color: red;"></i>
            </div>

            <div class="groupe">
                <label for="imageFile">Choose your image:</label>
                <span class="choose-button" onclick="chooseFile()" style="color:red;">Choose File</span>
                <input type="file" asp-for="ImageFile" name="imageFile" id="imageFile" accept=".jpg, .jpeg, .png" style="display: none;"
                       onchange="handleImageSelect(this)" />
                <img id="imagePreview" class="image-preview" src="#" alt="Image Preview" style="display: none;"   />
            </div>

        </div>
    </div>

    <div class="pied-formulaire" align="center" style="margin-top: 20px;">
        <button style="background-color: red; color: white;">Add the Product</button>
    </div>

</form>

