<!-- _ModifyProprio.cshtml -->
<script src="~/js/modifyproprio.js"></script>
<link href="~/css/modifyproprio.css" rel="stylesheet" />
<form>
	<input name="name" type="text" class="feedback-input" placeholder="CIN/Passeport" id="searchInput" />
	<a href="#" type="submit" value="Search" onclick="searchAndLoadForm()" class="search">Search</a>
</form>
