<link href="~/css/modifyproprio.css" rel="stylesheet" />
<script src="~/js/modifyproduct.js"></script>
<form>
	<input name="name" type="text" class="feedback-input" placeholder="Barcode of the Product" id="searchInput" />
	<a href="#" type="submit" value="Search" onclick="searchAndLoadForm()" class="search">Search</a>
</form>