@model vente_en_ligne.Models.Produit
<link href="~/css/deleteproprio.css" rel="stylesheet" />
<main>
    <div class="blur"></div>
    <div class="container">
        <form asp-action="DeleteProd" method="post" id="removeProduct">
            <img src="~/img/supprimer.png" class="photo" />
            <br>
            <input class="datos" type="text" asp-for="IdPr" placeholder="CIN/Passeport">
            <br>
            <br>
            <input class="boton reset" type="submit" value="Delete">
        </form>
    </div>
</main>


<script>
    // Attendez que le document soit prêt
    $(document).ready(function () {
        // Interceptez la soumission du formulaire
        $('#removeProduct').submit(function (e) {
            e.preventDefault();

            var form = $(this);
            var formData = form.serialize();

            // Envoyez la requête AJAX
            $.ajax({
                type: 'POST',
                url: form.attr('action'), // Utilisez l'URL spécifiée dans l'attribut action du formulaire
                data: formData,
                success: function () {
                    alert('La suppression a été faite avec succès.');
                    // Rechargez la page pour afficher les modifications mises à jour
                    location.reload();
                },
                error: function (xhr) {
                    alert('Une erreur s\'est produite lors de la suppression.');
                    console.log(xhr.responseText); // Afficher la réponse détaillée dans la console du navigateur
                }
            });
        });
    });
</script>


