<link href="~/css/modifyproprio.css" rel="stylesheet" />
<script src="~/js/modifyproduct.js"></script>
<form asp-action="ListProduct" method="get">
	<input name="id" type="text" class="feedback-input" placeholder="Your ID/Passeport" id="searchInput" />
	<input href="#" type="submit" value="Valider"class="search"/>
</form>